# api settings
NODE_ENV=development # alternatives: test, production
ACCESS_TOKEN_SECRET=064ad68178de549c7349070563d7f5c9d1bb3d1e4867aa614bf1696cc8c04de7a3be4e06162c70a6a247d3adbeaef370e50ab2369860a3a83f5ce23225b4f47c
REFRESH_TOKEN_SECRET=064ad68178de549c7349070563d7f5c9d1bb3d1e4867aa614bf1696cc8c04de7a3be4e06162c70a6a247d3adbeaef370e50ab2369860a3a83f5ce23225b4f47c
YOUTUBE_API_KEY=AIzaSyBFt5q-5AM9DQKOGuc-_2SQHmwSVgctvoQ
REACT_APP_SOCKET_URL=https://mermaid.dei.uc.pt #ws url

# db settings
DB_HOST=db
DB_PORT=5432
DB_NAME=Mermaid
DB_USERNAME=postgres
DB_PASSWORD=gordo1234

# rabbitmq settings
MQ_HOST=rabbitmq
MQ_PORT=5672
MQ_MNG_PORT=15672
MQ_USER=guest
MQ_PASS=guest
API_BASE_URL=http://localhost:8000

# email/smtp settings
SMTP_HOST=mailcatcher
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_USER=docker
SMTP_PASS=docker
SMTP_TLS_REJECT_UNAUTHORIZED=false

# dev settings - devcontainers debug
WATCHPACK_POLLING=true
WDS_SOCKET_HOST=127.0.0.1 
WDS_SOCKET_PORT=8000